{% extends 'BusinessLogicBundle::layout.html.twig' %}

{% block content %}
  {% if data %}
    <div class="row">
      {% for flats in data %}
        <div class="col-sm-{{ column }} col-xs-6">
          {% for flat in flats %}
            {#{{ dump(flat) }}#}
            <div class="panel panel-default flat">
              <div class="panel-thumbnail">
                {% if flat.images %}
                  <img src="{{ flat.images.0 | imagine_filter('flat_preview') }}" class="img-responsive">
                {% else %}
                  <img src="//placehold.it/450X300/DD3333/EE3333" class="img-responsive">
                {% endif %}
              </div>
              <div class="panel-body">
                <div class="resource-logo">
                  <img src="img/{{ flat.resource }}.png" class="{{ flat.resource }}-logo">
                </div>
                <div class="short-text">
                  <h4>
                    <a href="{{ path('detail_page', {'id': flat.hash}) }}">{{ flat.headline }}</a>
                  </h4>
                </div>
                <div class="short-info">
                  <ul class="short-info-items clearfix">
                    <li class="date">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      {{ flat.date|date('m.d.Y') }}
                    </li>
                    <li class="rooms">
                      {{ flat.rooms }}
                    </li>
                    <li class="price pull-right">
                      <i class="fa fa-money" aria-hidden="true"></i>
                      {{ flat.price }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div><!--/col-->
      {% endfor %}
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          No one item in database now
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}